.item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
  }

  .item2 {
    grid-column: 1 / span 3;
    grid-row: 3; /* grid row 3 istedenfor 2 slik at menyen fungerer på en riktig måte*/
    text-align: left;
    background-color: white;
  }
