body {
    margin: 0;
    padding: 0;
  }

.grid-container {
    background-color: #d4f6fd;
    display: grid;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr; 
  }

  .grid-item {
    background-color: #d4f6fd;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    font-size: 25px;
    color: #000;
  }

h {
    font-size: 50px;
    background-color: none;
    font-weight: bold;
  }

 h2 {
    font-size: 40px;

  } 
  
  h3:hover {
    background-color: #f0fcff;
    padding: 15px;
  }


p {
    font-size: 25px;
  }

p2{
  font-size: 14px;
}



.myButton {
    border: none;
    background-color: #d4f6fd;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
  }

.myButton:hover {
    background-color: black;
    font-size: 30px;
  }

a:hover {
    color: rgb(255, 255, 255);
    font-size: 30;
  }