body {
    margin: 0;
    padding: 0;
  }

.grid-container {
    background-color: #d4f6fd;
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr; /* gjør at alle gridene er like lange */
  }

  .grid-item {
    background-color: #d4f6fd;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    font-size: 25px;
    color: rgb(255, 221, 161);
  }

a2 {
    font-size: 50px;
    background-color: none;
    font-weight: bold;
  }

p {
    font-size: 25px;
  }

p3 {
    font-size: 18px;

  }

.myButton {
    border: none;
    background-color: rgb(102, 102, 160);;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

.myButton:hover {
    background-color: black;
    font-size: 30px;
  }

a:hover {
    color: rgb(255, 255, 255);
    font-size: 30;
  }